{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/userinfo.css') }} >
{% endblock %}
{% block body %}
    <div class="container bootstrap snippets bootdey">
    <div class="card">
        <div class="card-body">
          <div class="inf-content">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" style="width:200px;" title=""  src="https://assets.nationbuilder.com/themes/5f3bc4644764e86d9ee8849f/attachments/original/1589382138/login.png?1589382138" >
                    <ul title="Ratings" class="list-inline ratings text-center">
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <strong>User Information</strong><br>
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>

                                        Identificacion
                                    </strong>
                                </td>
                                <td >
                                    123456789
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        CIN
                                    </strong>
                                </td>
                                <td >
                                        num cin
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>

                                        First Name
                                    </strong>
                                </td>
                                <td >
                                    Bootdey
                                </td>

                                <td>
                                    <strong>
                                        Lastname
                                    </strong>
                                </td>
                                <td >
                                    Bootstrap
                                </td>
                            </tr>




                            <tr>
                            <td>
                                    <strong>
                                        Email
                                    </strong>
                                </td>
                                <td >
                                    noreply@email.com
                                </td>
                                <td>
                                    <strong>
                                        Role
                                    </strong>
                                </td>
                                <td >
                                    Admin
                                </td>
                            </tr>
                           <tr>
                                <td>
                                    <strong>

                                        Phone Number
                                    </strong>
                                </td>
                                <td >
                                    numero
                                </td>
                                 <td>
                                    <strong>
                                       Password
                                    </strong>
                                </td>
                                <td >
                                    ******
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        created
                                    </strong>
                                </td>
                                <td >
                                    20 jul 20014
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>

                                        Modified
                                    </strong>
                                </td>
                                <td >
                                    20 jul 20014 20:00:00
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
     </div>
   </div>
{% endblock %}